.button {
    -fx-background-color: #3A7D44; /* Vert foncé */
    -fx-text-fill: #ffffff;
    -fx-background-radius: 12;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-color: #2C5E33;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #F4E1C1; /* Beige clair */
    -fx-text-fill: #3A7D44;
}

.icon-button {
    -fx-background-color: #3A7D44;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 50;
    -fx-padding: 10px;
}

.button-style {
    -fx-background-color: #3A7D44;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-min-height: 45px;
    -fx-min-width: 90px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button-style:hover {
    -fx-background-color: #F4E1C1;
    -fx-text-fill: #3A7D44;
}

.button-menu {
    -fx-background-color: #F4E1C1;
    -fx-text-fill: #3A7D44;
    -fx-background-radius: 10;
    -fx-min-height: 45px;
    -fx-min-width: 90px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button-menu:hover {
    -fx-background-color: #3A7D44;
    -fx-text-fill: #ffffff;
}

.combo-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-radius: 6px;
    -fx-padding: 6px;
}

.text-input {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-background-color: #ffffff;
    -fx-border-color: #3A7D44;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 8px;
}

.text-input-error {
    -fx-border-color: #ff0000;
}

.warning-text {
    -fx-text-fill: #d9534f; /* Rouge doux */
}

.success-text {
    -fx-text-fill: #5cb85c; /* Vert doux */
}

.white-background {
    -fx-background-color: #ffffff;
}

.light-grey-background {
    -fx-background-color: #F3F3F3;
}

.profile-layout {
    -fx-background-color: #EBC95E;
    -fx-background-radius: 0 0 50 50;
}
